.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left{
    border-right: 0;
}

.navbar__container{
    background-color: #fff;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__container-left {
    padding: 0.5rem 2rem;
}

.navbar__container-right {
    padding: 0.5rem 2rem;
}

.navbar__container-btn{
    padding: 0.5rem 2rem;
}

.navbar__container-icon{
    padding-left: 0.5rem;
}
